{%extends "base.html" %}

{% block title %}Rádio à Manivela | Episódio 01{% endblock %}

{% block main %}

<article class="episodio">

    <div class="capa">
        <figure>
            <img class="logoep" src="{{ url_for('static', filename='images/logo.png') }}" alt="Capa do podcast">
        </figure>
    </div>

    <div class="info-episodio">
        <div class="cabecalho-episodio">
            <h2 class="titulo1">Episódio 01:</h2>
            <h2 class="subtitulo">Acidentes que viraram invenções</h2>
        </div>

        <audio id="audio" controls>
            <source src="{{ url_for('static', filename='áudio/podcast.mp3') }}" type="audio/mpeg">
            <track src="{{ url_for('static', filename='áudio/legenda.vtt') }}" kind="subtitles" srclang="pt-BR" label="Português" default>
        </audio>

        <div class="container-legenda">
            <p class="legenda" id="legenda"></p>
        </div>
    </div>

</article>

{% endblock %}